/* CSS di default */

/* # Indicazioni generali
*
* I fogli di stile sono inclusi in main.html nel seguente ordine: reset, base,
* small, print, aural.
* La priorità è determinata dalla specificità della regola e dalla posizione
* della sua definizione. Pertanto, al pari di specificità, le regole definite
* nei fogli di stile inclusi successivamente avranno priorità maggiore rispetto
* alle altre.
*
*/

/* # Reset
========================================================*/
* {
	margin: 0;
	padding: 0;
}


/* # Base
========================================================*/
body {
	font-family: 'Trebuchet MS', 'Liberation Sans', 'DejaVu Sans', sans-serif;;
}


/* # Header
========================================================*/
#header {
	display: block;
	margin: 0 5% 0;
}
#headImg {
	float: left;
	margin: 1em;
	width: 30%;
}
#headerText h1 {
	position: absolute;
}
#headerText {
	display: block;
	margin-left: 30%;
	padding-bottom: 100px;
}


/* # Elementi legati all'accessibilità
========================================================*/
.aural {
	display: none;
}






