/* CSS di default */

/* # Indicazioni generali
*
* I fogli di stile sono inclusi in main.html nel seguente ordine: reset, base,
* small, print, aural.
* La priorità è determinata dalla specificità della regola e dalla posizione
* della sua definizione. Pertanto, al pari di specificità, le regole definite
* nei fogli di stile inclusi successivamente avranno priorità maggiore rispetto
* alle altre.
*
*/

/* # Reset
========================================================*/
* {
	margin: 0;
	padding: 0;
}


/* # Base
========================================================*/
body {
	font-family: 'Trebuchet MS', 'Liberation Sans', 'DejaVu Sans', sans-serif;
	background-color: #fff;
}
#page {
	margin: 0 15% 0;
}
caption {
	font-size: 90%;
	padding: 0.2em;
}
fieldset {
	border: 1px solid #BBB;
	padding: 0.5em;
}
h3 {
	margin: 1em 0em; 
}
h4 {
	margin: 0.9em 0em 0.8em 0em;
}

table, th, td {
	border: 1px solid black;
}
table {
	border-collapse: collapse;
	margin: auto;
	width: 85%;
}
th, td {
	padding: 0.3em;
}
th {
	background-color: #77261c;
	color: white;
}
ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}


/* # Header
========================================================*/
#headImg {
	display: block;
	margin: auto;
	width: 60%;
}
#headerText h1 {
	position: absolute;
}
#headerText {
	display: block;
	font-size: xx-small;
	padding: 1em;
	text-align: center;
}


/* # Breadcrumb
========================================================*/
#path {
	background-color: gainsboro;
	display: block;
	font-size: small;
	padding: 0.5em 1em 0.5em;
}


/* # Content
========================================================*/

/* index */
#cerca {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 0.5em;
}
#cerca legend, #status legend {
	display: none;
}
#cerca input[type="text"] {
	height: 1.5%;
	width: 50%;
	margin: 0.4em;
}
.question {	
	height: auto;
	border: 10px;
	padding: 1em 0.5em 2em 0.2em;
	border-bottom: 1px solid;
	margin: 0;
}
.questionDetails {
	padding-left: 4em;
	word-wrap: break-word;	
}
.questionDetails p, .questionDetailsV p:nth-of-type(2) {
	font-family:"Georgia", Times, serif;
	font-weight:bold;
	padding-top: 1em;
	font-size: 0.9em;
}
.questionDetails a {
	color: #77261c;
	font-size: 120%;
}
.questionDetails a:hover, a:visited {
	color: #5a5a5a;
}
.questionStatus {
	float: left;
	text-align: center;
	width: 3em;	
}
.questionStatus img {
	max-width: 100%;
}
.author{
	font-style:oblique;
}


/* vedi-domanda */
.questionV{
	height: auto;
	border: 10px;
	padding: 1em 0.5em 2em 0.2em;
	margin: 0;
	border-bottom: 1px solid;
}

.questionDetailsV {
	/*padding: 0em 0em 0em 4em;*/
	margin-left: 4em;	
	font-size: 120%;
	word-wrap: break-word;
}

.questionDetailsV .Qcontent {
	padding-top: 1em;
	font-size: 90%;
}

.answer {
	padding: 1em 0em 0em 4.6em;
	/*border-bottom: 1px solid ;*/
}

#container-answer {
	clear: both;
}
.answer p:nth-of-type(1){
	font-size: 80%;
	font-weight: bold;
	padding-bottom: 1em;
}




#status-chiudi, #status-riapri{ /* Per ora */
	text-decoration: none;
	color: white;
	display: block;
	padding: 0.2em 0.5em;
	background-color: #77261c;
	width: auto;
} 

#rispondi {
	padding: 3em 0em 0em 4.5em;
}
#rispondi-linkFormatta, #chiedi-linkFormatta{
	float: right;
}
#rispondi-form {
	width: 100%;
	margin: 0 auto;
	clear: both;
}
#rispondi-form fieldset textarea {
	width: 100%;
	height: 100%;
	resize: none;
}
#rispondi-submit{
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 0.9em;
	background-color: #77261c;
	width: auto;
	text-align: center;
}

/* scrivi-domanda */
#pageTitle{
	display: block;
	margin-top: 1em;
	text-align: center;
	font-size: 150%;
	font-weight: bold;
}
#chiedi-form {
	width: 100%;
	margin: 0 auto; 
	resize:none;
	clear: both;
}
#chiedi-form fieldset textarea {
	width: 100%;
	height: 20em;
}
#chiedi-form input[type="text"] {
	height: auto;
	width: 100%;
	margin-bottom: 1em;
	overflow: auto;
}
#chiedi-submit {
	text-decoration: none;
	color: white;
	display: block;
	padding: 0.9em;
	background-color: #77261c;
	width: auto;
	overflow: auto;
	margin:0 auto;
}
#notLogged p, #error p, #domandaInserita p {
	padding-top: 1em;
}
/* Manuale */
#indice {
	display: block;
	float: left;
	margin: 0% 1%;
	width: 25%;
}
.sezioneManuale {
	margin-left: 27%;
}
#indice li a {
	display: block;
	background: transparent url(../images/link-arrow.png) 0 no-repeat;
	padding-left: 10px;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}
#indice li a:hover {
	background-position: 3px;
}
.sezioneManuale h4 {
	border-bottom: 1px solid #545454;
}
/* Registrati */
#success p, #error p {
	padding-top: 1em;
}
#pageTitleRegistrazione{
	display: block;
	margin-top: 1em;
	text-align: center;
	font-size: 100%;
	font-weight: bold;
}
/* Esci */
#esci p {
	padding-top: 1em;
}

/* # Navigation
========================================================*/
#navigation {
	overflow: auto;
	background-color: #77261c;
	border: 1px solid #77261c;
	color: white;
}
#menu li {
	display: inline;
	float: left;
}
#menu li:hover {
	background-color: white;
	color: black;
}
#menu a {
	color: white;
	display: block;
	padding: 1em;
}
#menu a:hover {
	text-decoration: none;
	color: black;
	display: block;
	padding: 1em;
}
.lateralNavItem {
	float: right !important;
}
#currentPage {
	background-color: white;
	border-left: 1px solid #77261c;
	border-right: 1px solid #77261c;
	color: black;
	display: block;
	padding: 1em;
}
ul#menu>:first-child {
	border-left: 0px;
}

/* trick per selezionare il primo elemento figlio
della lista con class="lateralNavItem" */
ul#menu .lateralNavItem {
	border-right: 0px;
	border-left: 0px;
}
ul#menu .lateralNavItem ~ .lateralNavItem {
	border-right: 1px solid #77261c;
}
/* fine trick */


/* # Paginazione
========================================================*/
#pagination-wrapper {
	padding: 1.5em;
	text-align: center;
	width: 100%;
}
#pagination {
	display: inline;
	position: relative;
	width: 100%;
}
#pagination li a:hover, #pagination a:hover .prev, #pagination a:hover .next,
#pagination li a:focus, #pagination a:focus .prev, #pagination a:focus .next {
	background-color: #77261c;
	color: white;
}
#pagination li, #pagination p {
	display: inline;
}
#pagination a, #pagination p, .prev, .next {
	border: 1px solid #545454;
	padding: 0.2em 0.4em;
	margin: 0 0.3em;
}
.next, .prev {
	position: absolute;
	text-decoration: underline;
	top: -0.25em;
}
.next {
	right: -8em;
}
.next:after {
	content: " →";
}
.prev {
	left: -8.5em;
}
.prev:before {
	content: "← ";
}


/* # Footer
========================================================*/
#footer {
	margin-top: 0.5em;
	padding: 2em;
	text-align: center;
}
#footNote {
	font-size: small;
	margin-top: 1em;
}


/* # Elementi legati all'accessibilità
========================================================*/
.aural {
	display: none;
}
.tornaSu {
	font-size: 80%;
	text-align: right;
	padding: 0.8em 0em;
	width: 100%;
}
#cerca fieldset, #status fieldset {
	border: 0;
}
