/* CSS per i dispositivi handheld (schermo piccolo, banda limitata) o dagli screen con larghezza <= 480px */


/* # Base
========================================================*/
#page {
	margin: auto;
	width: 100%;
}


/* # Header
========================================================*/
#headImg {
	width: 100%;
}

/* # Content
=======================================================*/
#rispondi-linkFormatta, #chiedi-linkFormatta {
	float:left;
	font-size: 0.8em;
}
#cerca input[type="text"] {
	width: 80%;
}

#registrati-form, #accedi-form {
	width: 90%;
}

/* # Content
========================================================*/
#indice {
	float: none;
	margin: 0 1% 0;
	width: 100%;
}
.sezioneManuale {
	margin: 0 1% 0;
}


/* # Pagination
========================================================*/
.prev, .next {
	display: none;
}
.start, .end {
	position: static;
}
.start:after {
	content: " ...";
}
.end:before {
	content: "... ";
}
#registrati-form input , #accedi-form input{
	width: 100%;
}
