/* CSS per i dispositivi handheld (schermo piccolo, banda limitata) o dagli screen con larghezza <= 480px */


/* # Base
========================================================*/
#page {
	margin: auto;
	width: 100%;
}


/* # Header
========================================================*/
#headImg {
	width: 100%;
}

/* # Content
=======================================================*/
#rispondi-linkFormatta, #chiedi-linkFormatta {
	float:left;
	font-size: 0.8em;
}
#cerca input[type="text"] {
	width: 80%;
}

#registrati-form, #accedi-form {
	width: 100%;
}
/* # Navigation
========================================================*/
#menu li {
	display: block;
	float: none;
	font-size: 2em;
}
.lateralNavItem {
	float: none !important;
}
#menu a {
	padding: 0.5em;
}
#menu a:hover {
	padding: 0.5em;
}
#currentPage {
	border-left: 0px;
	border-right: 0px;
	border-top: 1px solid #77261a;
	border-bottom: 1px solid #77261a;
	padding: 0.5em;
}
ul#menu>:first-child {
	border-top: 0px;
}
ul#menu>:last-child {
	border-bottom: 0px;
}


/* # Content
========================================================*/
#indice {
	float: none;
	margin: 0 1% 0;
	width: 100%;
}
.sezioneManuale {
	margin: 0 1% 0;
}


/* # Pagination
========================================================*/
.prev, .next {
	display: none;
}
.start, .end {
	position: static;
}
.start:after {
	content: " ...";
}
.end:before {
	content: "... ";
}