# BEGIN dancer application htaccess
RewriteEngine On
RewriteRule ^/?$ /cgi-bin/dispatch.cgi [L,R]
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule (.*) /cgi-bin/dispatch.cgi$1 [L]
# END dancer application htaccess
