RewriteEngine On 
RewriteRule ^/?$ /unioverflow/cgi-bin/dispatch.cgi [PT] 
RewriteCond %{SCRIPT_FILENAME} !-d 
RewriteCond %{SCRIPT_FILENAME} !-f 
RewriteRule ^(.*)$ /unioverflow/cgi-bin/dispatch.cgi/ [PT]
