<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
	<title>UniOverflow</title>
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<% content %>
</body>
</html>
