<div id="header">
	<a class="auralNotRead" href="index.cgi"><img id="headImg" src="../images/logo-unioverflow.png" alt="Logo di Unioverflow" height="60px"/></a>
	<span class="aural"><a href="#content" title="Passa al contenuto">Passa direttamente al contenuto</a></span> TODO<!--TODO:Nasconderlo ai vedenti col css-->
	TODO<!--TODO: rimpiccolire immagine e togliere height=60px-->
	<h1>Unioverflow</h1>
	<h2>Una piattaforma per chiedere, leggere, e rispondere alle domande di informatica degli studenti dell'Università di Padova.</h2>
</div>