<div id="header">
[% IF pageName == 'Domande' %]
	<img id="headImg" src="../images/logo-unioverflow.png" alt="Logo di Unioverflow" title="Vai alle domande"/>
[% ELSE %]
	<a class="auralNotRead no-print" href="index.cgi"><img id="headImg" src="../images/logo-unioverflow.png" alt="Logo di Unioverflow" title="Vai alle domande"/></a>
[% END %]
	<span class="aural"><a id="skip-to-content" href="#content" title="Passa al contenuto">Passa direttamente al contenuto</a></span>
	<div id="headerText">
		<h1 class="aural">Unioverflow</h1>
		<h2>Una piattaforma per chiedere, leggere, e rispondere alle domande di informatica degli studenti dell'Università di Padova.</h2>
	</div>
</div>