<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>UniOverflow</title>
	<meta name="description" content="Unioverflow &egrave; un sito di domande e risposte rivolto agli studenti del corso di informatica dell'Universit&agrave; di Padova." />
	<meta name="keywords" content="UniOverflow, fiup, informatica, unipd, Padova, domande, risposte" />
	<meta name="author" content="Giacomo Fornari, Serena Girardi, Enrico Rotundo, Federico Poli" />
</head>
<body>
	<div id="page">
		[% PROCESS layout/header.html;
			content %]
		<span class="aural"><a href="#content" title="Torna al direttamente al contenuto" tabindex="[% i=i+1; i %]">Torna su</a></span> TODO <!--TODO:Nasconderlo ai vedenti col css-->
		[% PROCESS layout/footer.html %]
	</div>
</body>
</html>
