[% navItems = [
    { path => 'index', name => 'Domande', title => 'Visualizza la lista delle domande' },
    { path => 'scrivi-domanda', name => 'Chiedi', title => 'Proponi una nuova domanda' },
    { path => 'manuale', name => 'Manuale', title => 'Consulta il manuale' },
    { path => 'accedi', name => 'Accedi', title => 'Accedi' },
    { path => 'registrati', name => 'Registrati', title => 'Registrati' },
    { path => 'esci', name => 'Esci', title => 'Esci' }
   ];
%]
<div id="navigation">
<h3 class="aural">Navigazione</h3>
<ul id="menu">

 <!--Compessità ciclomatica = 8 -->
[% i = 0;
 FOREACH navItem = navItems;
	IF !logged;

		IF navItem.name == "Accedi" || navItem.name == "Registrati";
			IF navItem.name == pageName %]
				<li id="currentPage" class="lateralNavItem">[% navItem.name %]</li>
			[% ELSE %]
				<li class="lateralNavItem"><a tabindex="[% i=i+1; i %]" accesskey="[% i %]" href="[% navItem.path %].cgi" title="[% navItem.title %]">[% navItem.name %]</a></li>
			[% END;

		ELSIF navItem.name != "Esci";
			 IF navItem.name == pageName %]
				<li id="currentPage">[% navItem.name %]</li>
			[% ELSE %]
				<li><a tabindex="[% i=i+1; i %]" accesskey="[% i %]" href="[% navItem.path %].cgi" title="[% navItem.title %]">[% navItem.name %]</a></li>
			[% END;
		END;


	ELSE;

		IF navItem.name == "Esci";
			IF navItem.name == pageName %]
				<li id="currentPage" class="lateralNavItem">[% navItem.name %]</li>
			[% ELSE %]
				<li class="lateralNavItem"><a tabindex="[% i=i+1; i %]" accesskey="[% i %]" href="[% navItem.path %].cgi" title="[% navItem.title %]">[% navItem.name %]</a></li>
			[% END;

		ELSIF navItem.name != "Accedi" && navItem.name != "Registrati";
			IF navItem.name == pageName %]
				<li id="currentPage">[% navItem.name %]</li>
			[% ELSE %]
				<li><a tabindex="[% i=i+1; i %]" accesskey="[% i %]" href="[% navItem.path %].cgi" title="[% navItem.title %]">[% navItem.name %]</a></li>
			[% END;
		END;
	END;
END %]
</ul>
</div>