[% WRAPPER layout/main.html %]
	[% IF logged %]
		<p>L'accesso è già stato effettuato.</p>
		<p>Ora puoi andare alla <a href="index.cgi">pagina principale</a>.</p>
	[% ELSE %]
	<form action="esegui-accesso.cgi" method="POST">
		<fieldset>
			<legend>Dati di accesso</legend>
			<label for="email">Email</label><input type="text" id="email" name="email" /> (inserire "user")<br />
			<label for="password">Password</label><input type="text" id="password" name="password" /> (inserire "password")<br />
			<input type="submit" value="Esegui l'accesso" />
		</fieldset>
	</form>
	[% END %]
[% END %]
