[% WRAPPER layout/main.html %]
	[% pageName = 'Accedi' %]
	[% PROCESS layout/navigation.html %]

	<div id="content">
		<span id="path">Ti trovi in: Accedi</span>
		[% IF logged %]
			<p>L'accesso è già stato effettuato.</p>
			<p>Ora puoi andare alla <a href="index.cgi" title="Home" tabindex="[% i=i+1; i %]">pagina principale</a>.</p>
		[% ELSE %]
		<form id= "accedi-form" action="esegui-accesso.cgi" method="post">
			<fieldset>
				<legend>Dati di accesso</legend>
				<label for="email">Email</label><input type="text" id="email" name="email" tabindex="[% i=i+1; i %]" accesskey="e"/><br />
				<label for="password">Password</label><input type="password" id="password" name="password" tabindex="[% i=i+1; i %]" accesskey="p"/><br />
				<input id="accedi-submit" type="submit" value="Accedi"/>
			</fieldset>
		</form>
		[% END %]
	</div>
[% END %]
