[% WRAPPER layout/main.html;
	pageName = 'Esci';
	PROCESS layout/header.html;
	PROCESS layout/navigation.html %]
	
	<div id="esci">
	[% IF success %]
		<p>L&apos;uscita &egrave; stata effettuata correttamente.</p>
		<p>Ora puoi andare alla <a href="index.cgi" title="Home" tabindex="[% i=i+1; i %]">pagina principale</a>.</p>
	[% ELSE %]
		<p>C&apos; &egrave; stato un errore nell'effettuare l'uscita.</p>
		<p>Puoi andare alla <a href="index.cgi" title="Home" tabindex="[% i=i+1; i %]">pagina principale</a> e riprovare pi&ugrave; tadi.</p>
	[% END %]
	</div>
[% END %]
