[% WRAPPER layout/main.html;
	pageName = 'EseguiAccesso';
	PROCESS layout/header.html;
	PROCESS layout/navigation.html %]

	<div id="content">
		[% IF success %]
			<p>L'accesso è stato effettuato correttamente.</p>
			<p>Ora puoi andare alla <a href="index.cgi" title="Home" tabindex="[% i=i+1; i %]">pagina principale</a>.</p>
		[% ELSE %]
			<p>Le credenziali inserite sono errate.</p>
			<p>Torna alla <a href="accedi.cgi" title="Pagina di accesso" tabindex="[% i=i+1; i %]">pagina di accesso</a> per riprovare.</p>
		[% END %]
	</div>
[% END %]
