[% WRAPPER layout/main.html %]
	[% pageName = 'Domande' %]

	<h2>Lista delle domande</h2>
	<ul>
	[% FOREACH question IN questions %]
		<li><a href="[% question.path %]"><h3>[% question.title %]</h3></a>
			<p>chiesto da [% question.author %]</p></li>
	[% END %]
	</ul>

	[%# Si considera che la numerazione su n pagine sia [1..n]. Se:
		 
		1) la query-string non è definita
		2) è presente un parametro 'page='
		3) è presente un parametro 'page=0'
		4) è presente un parametro 'page=1'

		la pagina corrente nella paginazione sarà sempre uguale a 1.

		La struttura della paginazione è tratta da:
		https://mikewest.org/2010/02/an-accessible-pagination-pattern
	%]
	[% IF !pageInfo.currentPageNumber;
		pageInfo.currentPageNumber = 1;
	END
	%]
	[% IF pageInfo.totalPages != 1 %]
		<p id="paginglabel" class="audible">Paginazione</p>
		<ul>

		[% IF pageInfo.currentPageNumber >= 3 %]
			<li><a href="index.cgi?page=[% pageInfo.currentPageNumber - 2 %]"><span class="audible">Pagina </span>[% pageInfo.currentPageNumber - 2 %]</a></li>
		[% END %]
		[% IF pageInfo.currentPageNumber >= 2 %]
			<li><a href="index.cgi?page=[% pageInfo.currentPageNumber - 1 %]" rel="prev"><span class="prev">Precedente<span class="audible">: Pagina </span></span>[% pageInfo.currentPageNumber - 1 %]</a></li>
		[% END %]
			<li><p><span class="audible">Attualmente stai leggendo pagina </span>[% pageInfo.currentPageNumber %]</p></li>
		
		[% IF pageInfo.currentPageNumber <= pageInfo.totalPages - 1 %]
			<li><a href="index.cgi?page=[% pageInfo.currentPageNumber + 1 %]" rel="next"><span class="next">Successiva<span class="audible">: Pagina </span></span>[% pageInfo.currentPageNumber + 1 %]</a></li>
		[% END %]
		[% IF pageInfo.currentPageNumber <= pageInfo.totalPages - 2 %]
			<li><a href="index.cgi?page=[% pageInfo.currentPageNumber + 2 %]"><span class="audible">Pagina </span>[% pageInfo.currentPageNumber + 2 %]</a></li>
		[% END %]
		</ul>
	[% END %]
[% END %]