[% WRAPPER layout/main.html %]
	[% pageName = 'Domande' %]
	[% PROCESS layout/navigation.html %]

	<div id="content">
		<span id="path">Ti trovi in: Domande</span>
		<form action="index.cgi" method="post">
			<fieldset>
				<legend>Cerca</legend>
				<label for="testoDaCercare"></label>
				<input type="text" title="Inserisci il testo da cercare" id="testoDaCercare" name="testoDaCercare" tabindex="[% i=i+1; i %]" />
				<input type="submit" title="Effettua ricerca" value="Cerca" tabindex="[% i=i+1; i %]" accesskey="c"/>
			</fieldset>
		</form>
		
		<h3>Lista delle domande</h3>

		[% IF notFound %]
			<div id="notFound"><p>Nessuna corrispondenza trovata!</p></div>
		[% END %]

		<ul>
		[% FOREACH question IN questions %]
			<li><div class="questionStatus">
					[% question.status == 'solved' ? '<img src="../images/solvedQuestion.png" alt="Domanda risolta"/>Risolta' : '<img src="../images/openedQuestion.png" alt="Domanda aperta"/>Aperta' %]
				</div>
				<div class="questionDetails">
					<h4><a tabindex="[% i=i+1; i %]" href="vedi-domanda.cgi?id=[% question.identifier %]">[% question.title | html %]</a></h4>
					<p>chiesto da [% question.author | html %] il [% question.insertDate | html %]</p>
				</div></li>
		[% END %]
		</ul>

		[%# Si considera che la numerazione su n pagine sia [1..n]. Se:
			 
			1) nella query-string non è presente un parametro 'page' o
			2) nella query-string è presente un parametro 'page=' o
			3) nella query-string è presente un parametro 'page=0' o
			4) nella query-string è presente un parametro 'page=1'

			la pagina corrente nella paginazione sarà sempre uguale a 1.

			La struttura della paginazione è tratta da:
			https://mikewest.org/2010/02/an-accessible-pagination-pattern
		%]
		[% IF !pageInfo.currentPageNumber;
			pageInfo.currentPageNumber = 1;
		END
		%]
		[% IF pageInfo.totalPages != 1 %]
			<h3 id="paginglabel" class="audible">Paginazione</h3>
			<ul>
			[% IF pageInfo.currentPageNumber >= 3 %]
				<li><a tabindex="[% i=i+1; i %]" href="index.cgi?page=[% pageInfo.currentPageNumber - 2 %]"><span class="audible">Pagina </span>[% pageInfo.currentPageNumber - 2 %]</a></li>
			[% END %]
			[% IF pageInfo.currentPageNumber >= 2 %]
				<li><a tabindex="[% i=i+1; i %]" href="index.cgi?page=[% pageInfo.currentPageNumber - 1 %]" rel="prev"><span class="prev">Precedente<span class="audible">: Pagina </span></span>[% pageInfo.currentPageNumber - 1 %]</a></li>
			[% END %]
				<li><p><span class="audible">Attualmente stai leggendo pagina </span>[% pageInfo.currentPageNumber %]</p></li>
			
			[% IF pageInfo.currentPageNumber <= pageInfo.totalPages - 1 %]
				<li><a tabindex="[% i=i+1; i %]" href="index.cgi?page=[% pageInfo.currentPageNumber + 1 %]" rel="next"><span class="next">Successiva<span class="audible">: Pagina </span></span>[% pageInfo.currentPageNumber + 1 %]</a></li>
			[% END %]
			[% IF pageInfo.currentPageNumber <= pageInfo.totalPages - 2 %]
				<li><a tabindex="[% i=i+1; i %]" href="index.cgi?page=[% pageInfo.currentPageNumber + 2 %]"><span class="audible">Pagina </span>[% pageInfo.currentPageNumber + 2 %]</a></li>
			[% END %]
			</ul>
		[% END %]
	</div>
[% END %]