[% WRAPPER layout/main.html %]
	[% pageName = 'PageError' %]
	[% PROCESS layout/navigation.html %]
	<div id="content">
		<span id="path">Ti trovi in: Pagina di errore</span>
		<div id="errorContent">
			<p>Si &egrave; verificato un errore!</p> 
			<p>[% error %]</p>
		</div>
		<div id="segnalaErrore">
			<p>Vuoi segnalare un errore? <a href="email@echo.com?subject=Errore%20Unioverflow" title="Invia una email per segnalare un errore" tabindex="[% i=i+1; i %]" accesskey="s">Scrivici</a>!</p>
		</div>
	</div>

[% END %]