[% WRAPPER layout/main.html;
	pageName = 'Registrati';
	PROCESS layout/header.html;
	PROCESS layout/navigation.html %]

	<div id="content">
		<span id="path">Ti trovi in: Registrati </span>
		[% IF success %]
			<div id="success">
			<p>Registrazione effettuata correttamente.</p>
			<p>Ora puoi andare alla <a tabindex="[% i=i+1; i %]" accesskey="l" href="accedi.cgi" title="Vai alla pagina per accedere">pagina per accedere</a>.</p>
			</div>
		[% ELSE %]
			[% IF error %]
				<div id="error">
					<p>[% msg %]</p>
				</div>
			[% END %]
				<span id="pageTitleRegistrazione"> Benvenuto nella pagina di registrazione!</span>
				<p><strong>Attenzione :</strong> L'email deve essere del tipo @studenti.unipd.it e la password di almeno 8 caratteri e non può contenere caratteri speciali. Per ulteriori informazioni riferirsi al <a tabindex="[% i=i+1; i %]" href="manuale.cgi#Registrazione" title="Vai alla guida su registrarsi">manuale</a>.</p>
				<form action="registrati.cgi" method="post">
					<fieldset>
						<legend>Inserisci i dati richiesti</legend>
						<label for="email">Email</label>
						<input type="text" title="Inserisci l'email" id="email" name="email" tabindex="[% i=i+1; i %]" accesskey="m"  /><br/>
						<label for="password">Password</label>
						<input type="password" title="Inserisci la password" id="password" name="password" tabindex="[% i=i+1; i %]" accesskey="p" /><br/>
						<label for="passwordconfirm">Conferma Password</label>
						<input type="password" title="Inserisci la password nuovamente" id="passwordconfirm" name="passwordconfirm" tabindex="[% i=i+1; i %]" accesskey="c" /><br/>
						<input type="submit" title="Effettua registrazione" value="Registrati" tabindex="[% i=i+1; i %]" accesskey="r" />
					</fieldset>
				</form>
		[% END %]
	</div>

[% END %]