[% WRAPPER layout/main.html %]
	[% pageName = 'VediDomanda' %]
	[% PROCESS layout/navigation.html %]

	<div id="content">
		<span id="path">Ti trovi in: <a href="index.cgi" title="Domande">Domande</a> &raquo; Vedi domanda</span>
		<div class="questionV">
			<div class="questionStatus">
				[% question.status == 'solved' ? '<img src="../images/solvedQuestion.png" alt="Domanda risolta"/>Risolta' : '<img src="../images/openedQuestion.png" alt="Domanda aperta"/>Aperta' %]
			</div>
			<div class="questionDetailsV">
				<h3>[% question.title %]</h3>
				<p class="Qcontent">[% question.content %]</p>
				<p>chiesto da <span class="author">[% question.author | html %]</span> il [% question.insertDate | html %]</p>
			
			[% IF question.author == session.email %]
					<div id="status">
						<form id="status-form" action="vedi-domanda.cgi?id=[% question.identifier %]&amp;page=[% pageInfo.currentPageNumber %]" method="post">
							<fieldset>
								[% IF question.status == 'opened' %]
									<legend>Chiudi domanda</legend>
									<input type="hidden" name="questionId" value="[% question.identifier %]"/>
									<input type="hidden" name="status" value="solved"/>
									<input id="status-chiudi" type="submit" value="Risolta" title="Chiudi domanda" tabindex="[% i=i+1; i %]"/>
								[% ELSE %]
									<legend>Riapri domanda</legend>
									<input type="hidden" name="questionId" value="[% question.identifier %]"/>
									<input type="hidden" name="status" value="opened"/>
									<input id="status-riapri" type="submit" value="Riapri" title="Riapri domanda" tabindex="[% i=i+1; i %]"/>
								[% END %]
							</fieldset>
						</form>
					</div>
				[% END %]
		</div>
		</div>
		<div id="container-answer">
		[% IF (totalAnswers == 0) %]
			<h4>0 risposte</h4>
			<p>Non ci sono ancora risposte a questa domanda!</p>
		[% ELSE %]
			<h4>[% totalAnswers == 1 ? '1 risposta' : totalAnswers _ ' risposte' %]</h4>
			<ul>
				[% FOREACH answer IN answers %]
					<li class="answer">
						<p>il [% "$answer.insertDate, " | html; answer.author | html %] ha scritto:</p>
						<p>[% answer.content %]</p>
					</li>
				[% END %]
			</ul>
		[% END %]
		<div>
		[% IF logged && question.status == 'opened' %]
			<div id="rispondi">
				<h4 class="aural">Rispondi</h4>
				<p><a id="rispondi-linkFormatta" tabindex="[% i=i+1; i %]" accesskey="l" href="manuale.cgi#FormattaTesto" title="Vai alla guida su come formattare il tuo testo">Come formattare il testo</a></p>
				<form id="rispondi-form" action="vedi-domanda.cgi?id=[% question.identifier %]&amp;page=[% pageInfo.totalPages %]" method="post">
					<fieldset>
						<legend>Inserisci la tua risposta</legend>
						<textarea name="post-text" title="Inserisci il testo della risposta" tabindex="[% i=i+1; i %]" accesskey="r" rows="4" cols="50"></textarea><br/>
						<input type="hidden" name="questionId" value="[% question.identifier %]"/>
						<input id="rispondi-submit" type="submit" value="Pubblica risposta" title="Pubblica risposta" tabindex="[% i=i+1; i %]" accesskey="p"/>
					</fieldset>
				</form>
			</div>
		[% END %]
		[% IF pageInfo.totalPages > 1 %]
			<div id="pagination-wrapper">
				<h3 id="paginationLabel" class="aural">Paginazione</h3>
				<ul id="pagination">
				[% IF pageInfo.currentPageNumber >= 3 %]
					<li><a tabindex="[% i=i+1; i %]" href="vedi-domanda.cgi?id=[% question.identifier %]&amp;page=[% pageInfo.currentPageNumber - 2 %]"><span class="aural">Pagina </span>[% pageInfo.currentPageNumber - 2 %]</a></li>
				[% END %]
				[% IF pageInfo.currentPageNumber >= 2 %]
					<li><a tabindex="[% i=i+1; i %]" href="vedi-domanda.cgi?id=[% question.identifier %]&amp;page=[% pageInfo.currentPageNumber - 1 %]" rel="prev"><span class="prev">Precedente<span class="aural">: Pagina </span></span>[% pageInfo.currentPageNumber - 1 %]</a></li>
				[% END %]
					<li><p><span class="aural">Attualmente stai leggendo pagina </span>[% pageInfo.currentPageNumber %]</p></li>
				[% IF pageInfo.currentPageNumber <= pageInfo.totalPages - 1 %]
					<li><a tabindex="[% i=i+1; i %]" href="vedi-domanda.cgi?id=[% question.identifier %]&amp;page=[% pageInfo.currentPageNumber + 1 %]" rel="next"><span class="next">Successiva<span class="aural">: Pagina </span></span>[% pageInfo.currentPageNumber + 1 %]</a></li>
				[% END %]
				[% IF pageInfo.currentPageNumber <= pageInfo.totalPages - 2 %]
					<li><a tabindex="[% i=i+1; i %]" href="vedi-domanda.cgi?id=[% question.identifier %]&amp;page=[% pageInfo.currentPageNumber + 2 %]"><span class="aural">Pagina </span>[% pageInfo.currentPageNumber + 2 %]</a></li>
				[% END %]
				</ul>
			</div>
		[% END %]
	</div>
[% END %]